<div class="row">
	<div class="large-6 text-centered large-centered column">
		<div class="search_table">
			<h3 id="search">Search for Item by Name</h3>
			<%= form_tag items_path, :method => 'get', :id => "items_search" do %>
				<p>
					<%= text_field_tag :search, params[:search] %>
					<%= submit_tag "Search", class: "button tiny round", :id => nil %>
				</p>
			<% end %>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-8 large-centered column">
		<div class="table">
			<table class="sortable">
				<thead id="thead">
					<tr>
						<th>Station</th>
						<th>Item</th>
						<th>Buy Price</th>
						<th>Sell Price</th>
						<th>Data Date</th>
						<% if current_user %>
							<th>Kvasir Index</th>
							<th>Add to MyItems</th>
						<% end %>
					</tr>
				</thead>
				<tfoot id="tfoot">
					<tr>
						<th>Station</th>
						<th>Item</th>
						<th>Buy Price</th>
						<th>Sell Price</th>
						<th>Data Date</th>
						<% if current_user %>
							<th>Kvasir Index</th>
							<th>Add to MyItems</th>
						<% end %>
					</tr>
				</tfoot>
				<tbody id="tbody">
					<% @items.each do |item, value| %>
						<tr>
							<td id="regionid">Amarr</td>
							<td id="name"><%= item.name %></td>
							<td id="buy_price">Buy: <%= item.buy_price.round(2) %></td>
							<td id="sell_price">Sell: <%= item.sell_price.round(2) %></td>
							<td id="info_date">Date: <%= item.info_date %></td>
							<% if current_user %>
								<td id="kvasir"><%= (item.sell_price - item.buy_price).to_i %></td>
							<% end %>
							<td>
								<% if current_user %>
									<% if !item.users.include?(current_user) %>
										<%= form_for @tracked_item, html: { class: "tracked", id: "button-#{item.id}" } do |f| %>

											<%= f.hidden_field :user, value: current_user.id %>
											<%= f.hidden_field :item, value: item.id %>

											<%= f.submit "Add", id: "add-button", class: "button tiny round" %>
										<% end %>
									<% end %>
								<% end %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<div class="row">
			<p><%= paginate @items %></p>
		</div>
	</div>
</div>
