<div class="large-6 large-centered column">
	<div class="table">
		<h3>Eve time: <p id="time"></p></h3>
		<table id="market_table">
			<thead>
				<tr>
					<th>Station</th>
					<th>Item</th>
					<th>Buy Price</th>
					<th>Sell Price</th>
					<% if current_user %>
						<th>Kvasir Index</th>
					<% end %>
				</tr>
			</thead>
			<tbody>
				<% @items.each do |item, value| %>
					<tr>
						<td id="regionid">Amarr</td>
						<td id="name"><%= item.name %></td>
						<td id="buy_price">Buy: <%= item.buy_price %></td>
						<td id="sell_price">Sell: <%= item.sell_price %></td>
						<% if current_user %>
							<td id="kvasir">(kvasir index)</td>
							<td><button id="save">Add</button></td>
						<% end %>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="row">
		<p><%= paginate @items %></p>
	</div>
	<div class="footer" id="footer">
		<ul>
			<li><%= link_to "Home", root_path %></li>
		</ul>
	</div>
</div>
