<div class="large-6 large-centered column">
	<div class="search_table">
		<h3>Search for Item by ID</h3>
    <%= form_tag item_path, :method => 'get', :id => "items_search" do %>
      <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :id => nil %>
      </p>
		<% end %>
		<% if !@item.empty? %>
      <div id="item"><%= render "table" %></div>
    <% end %>
	</div>
	<div class="row">
		<p><%= paginate @item %></p>
	</div>
	<div class="footer" id="footer">
		<ul>
			<li><%= link_to "Home", root_path %></li>
		</ul>
	</div>
</div>
