<div class="show-for-medium-up">
  <div class="fixed">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">Kvasir Markets</a></h1>
        </li>
      </ul>

      <section class="top-bar-section">

        <ul class="text-center eve-time">
          <li>
            <h6>Eve Time: <h6 id="time"></h6></h6>
          </li>
        </ul>
        <ul class="right">
          <%- if !current_user.nil? && current_user.admin? -%>
            <li class="has-dropdown">
              <%= link_to 'admin', '#' %>
              <ul class="dropdown">
                <li><%= link_to 'Users', admin_users_path %></li>
                <li><%= link_to 'Items', admin_items_path %></li>
              </ul>
            </li>

            <li class="has-dropdown">
              <%= link_to current_user.username, "#" %>
              <ul class="dropdown">
                <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
                <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
            <!-- <div id=profile_pic> -->
            <li id=profile_pic>
              <%= image_tag current_user.avatar, size: '70x50', crop: :fill %>
            </li>
            <!-- </div> -->
          <%- elsif current_user -%>
            <%= image_tag current_user.avatar, size: '30x30', crop: :fill %>
            <li class="has-dropdown">
              <%= link_to current_user.username, "#" %>
              <ul class="dropdown">
                <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
                <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
                <%- else -%>
                <li><%= link_to 'Sign Up', new_user_registration_path %></li>
                <li><%= link_to 'Sign In', new_user_session_path %></li>
              </ul>
            </li>
          <%- end -%>
        </ul>
      </section>
    </nav>
  </div>
</div>
