<!DOCTYPE html>
<html>
<head>
  <title>Kvasir</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application' %>
</head>
  <body>

    <section class="top-bar-section">
      <div class="off-canvas-wrap fixed" data-offcanvas>
        <div class="inner-wrap">
          <%= render "layouts/small_header" %>
          <%= render "layouts/not_small_header" %>
          <%= render "layouts/flash" %>

          <section class="main-section">
            <div class="row">
              <div class="small-12 small-centered columns text-center">
                <%= yield %>
              </div>
            </div>
          </section>
          <a class="exit-off-canvas"></a>
        </div>
      </div>
    </section>


    <%= yield :extra_footer %>
  </body>
</html>
