<!DOCTYPE html>
<html>
<head>
  <title>Kvasir</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
  <body>

    <nav class="top-bar">
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">Kvasir</a></h1>
        </li>
      </ul>

      <section class="top-bar-section">
        <div class="off-canvas-wrap fixed" data-offcanvas>
          <div class="inner-wrap">
            <%= render "layouts/small_header" %>
            <%= render "layouts/not_small_header" %>
            <%= render "layouts/flash" %>

            <section class="main-section">
              <div class="row">
                <div class="small-12 small-centered columns text-center">
                  <%= yield %>
                </div>
              </div>
            </section>
            <a class="exit-off-canvas"></a>
          </div>
        </div>
      </section>
    </nav>

    <%- flash.each do |key, value| -%>
      <div class="flash flash-<%= key %>">
        <%= value %>
      </div>
    <%- end -%>

    <%= yield %>

    <%= javascript_include_tag 'application' %>
    <%= yield :extra_footer %>
  </body>
</html>
