<!DOCTYPE html>
<html>
<head>
  <title>Kvasir</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application' %>
</head>
  <body>

    <section class="top-bar-section">
      <section class="top-bar-section">
        <div class="off-canvas-wrap fixed" data-offcanvas>
          <div class="inner-wrap">
            <%= render "layouts/small_header" %>
            <%= render "layouts/not_small_header" %>
            <%= render "layouts/flash" %>

            <section class="main-section">
              <div class="row">
                <div class="small-12 small-centered columns text-center">
                  <%= yield %>
                </div>
              </div>
            </section>
            <a class="exit-off-canvas"></a>
          </div>
        </div>
      </section>
    </section>

    <footer class="row">
      <div class="small-12 columns">
        <hr/>
        <div class="row">
          <div class="small-6 offset-3 small-centered columns">
            <ul class="inline-list small-centered center-my-list" style="display:inline">
              <li>
                <%= link_to "Home", root_path %>
              </li>
              <li>
                <%= link_to "Items", items_path %>
              </li>
              <li>
                <%= link_to "My Items", tracked_items_path %>
              </li>
              <li>
                <%= link_to "Jita Undock", jita_path %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
